.sqsrte-text-color--white {
    color: #ffffff;
  }

  .sqsrte-text-color--black {
    color: #000000;
  }

  .sqsrte-text-color--accent {
    color: #CB9831;
  }

  .sqsrte-text-color--lightAccent {
    color: #CDD8D9;
  }

  .sqsrte-text-color--darkAccent {
    color: #324556;
  }